* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    
    }

body  { 
    background-color: white;
    font-family: Arial;
    padding: 10px;
    margin: 20px auto;
    
  }
  /* Navbar */


.navbar {    
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    width: 100%;
    
}
.nav-text{
    color: white;
    font-size: 29px;
    font-family: 'Gotham Rounded Book','sans-serif';
}
.nav-ul{
    background-color: #003ca6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    height: 40px;
    align-items: center;
    position: sticky;
    top: 0;
}
.nav-ul li a{
    color: white;
    justify-content: space-evenly;
}
.nav-ul li  :hover{
  
    opacity: 0.3;
    transition: 0.3s;
}
  #form-button{
    background-color: #003ca6;
}
 

/* Column */
.col-lg-9 {
    background-color: white;
    padding: 10px;
    color: #000f42;
    float: left;
    margin-top: 14px;
}




.col-lg-9 p, .col-lg-3 p{
    font-size: 14px;
    line-height: 20px;
    color: #000f42;
    padding-top: 15px;

}

h2{
    font-family: 'PT Sans', sans-serif;
    font-family: ArialMT,Arial,Helvetica,sans-serif;
    font-size: 26px; 
    font-weight: 700;
  }
  h3{
    font-family: 'PT Sans', sans-serif;
    font-family: ArialMT,Arial,Helvetica,sans-serif;
    font-size: 19px; 
    font-weight:550;
  }

  h5{
    font-family: 'PT Sans', sans-serif;
    font-family: ArialMT,Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 30px;
  }
  span.author {
    color: #555;
    font-weight: 700;
    cursor: pointer;
   
  }
  a{
    font-size: 15px;
    color: #1644db;
    font-family: ArialMT,Arial,Helvetica,sans-serif;
}