* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    
    }

body  { 
    background-color: white;
    font-family: Arial;
    padding: 10px;
    margin: 20px auto;
    
  }

@font-face {
    font-family: 'Gotham Rounded Bold';
    src: url('fonts/GothamRoundedBold21016.eot');
    src: url('fonts/GothamRoundedBold21016.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamRoundedBold21016.woff2') format('woff2'),
         url('fonts/GothamRoundedBold21016.woff') format('woff'),
         url('fonts/GothamRoundedBold21016.ttf')  format('truetype'),
         url('fonts/GothamRoundedBold21016.svg#Gotham Rounded') format('svg');
}
@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('fonts/GothamRoundedBook21018.eot');
    src: url('fonts/GothamRoundedBook21018.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamRoundedBook21018.woff2') format('woff2'),
         url('fonts/GothamRoundedBook21018.woff') format('woff'),
         url('fonts/GothamRoundedBook21018.ttf')  format('truetype'),
         url('fonts/GothamRoundedBook21018.svg#Gotham Rounded') format('svg');
}
  /* Navbar */


.navbar {    
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    width: 100%;
    
}
.nav-text{
    color: white;
    font-size: 29px;
    font-family: 'Gotham Rounded Bold';
}
.nav-ul{
    background-color: #003ca6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    height: 40px;
    align-items: center;
    position: sticky;
    top: 0;
}
.nav-ul li a{
    color: white;
    justify-content: space-evenly;
}
.nav-ul li  :hover{

    opacity: 0.3;
    transition: 0.3s;
}
  #form-button{
    background-color: #003ca6;
    border: 1px solid   #1052c5;;
}
 

/* Column */
.col-lg-9 {
    background-color: white;
    padding: 10px;
    color: #000f42;
    float: left;
    margin-top: 14px;
}

.col-lg-9 p, .col-lg-3 p{
    font-size: 14px;
    line-height: 20px;
    color: #000f42;
    padding-top: 15px;
    

}
  h1 {
    font-family: 'Gotham Rounded Bold';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 15px;
    }

h2{
    
    font-family: 'Gotham Rounded Bold';
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 15px;
  }

  h3{
    font-family: 'Gotham Rounded Bold';
    font-size: 19px; 
    font-weight:700;
  }

  h5{
    font-family: 'Gotham Rounded Bold';
    font-weight: 300;
    font-size: 13px;
    margin-bottom: 30px;
  }
  span.author {
    color: #555;
    font-weight: 700;
    cursor: pointer;
  }
  a{
    font-size: 15px;
    color: #1644db;
    font-family: ArialMT,Arial,Helvetica,sans-serif;
}
/* Blog Right */

.blog-right-bottom {
    background: #f7f5f0;
    display: flex;
    flex-direction: column;
   
}
.blog-right-bottom a {
    color: black;
    font-size: 16px;
    font-weight: 600;
   
     
}
.blog-right-bottom h5 {
    color: black;
    font-size: 12px;
    font-weight: 400;
    padding: 0;  
     
}

.blog-right-top{
    background: #f7f5f0;
    padding: 30px;
    align-items: center;
    text-align: center;
    margin-bottom: auto;
}
/* Button */
button{
    cursor: pointer;
    background-color: #0137ef;
    height: 40px;
    transition: .25s background-color;
    border-radius: 30px;
    color: rgb(250, 250, 250);
    border: none;
    width: 190px;
    display: inline-block;
    text-align: center;
    
}
.container-card .col-lg-12{
    max-width: 900px;
    margin: auto;
    padding: 2%;
    padding: 20px 50px;
    height: px;
    margin-top: 10px;
    box-shadow:1px 2px 16px 8px rgba(136, 134, 134, 0.71);
  }
.blog-right{
      background-color: #000f42;
  }