* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    
    }

body  { 
    background-color: white;
    font-family: Arial;
    padding: 10px;
    margin: 20px auto;
    
  }
  /* Navbar */


.navbar {    
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    width: %100;
    
}
.nav-text{
    color: white;
    font-size: 29px;
    font-family: 'Gotham Rounded Book','sans-serif';
}
.nav-ul{
    background-color: #003ca6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    height: 40px;
    align-items: center;
    position: sticky;
    top: 0;
}
.nav-ul li a{
    color: white;
    justify-content: space-evenly;
}
.nav-ul li  :hover{
  
    opacity: 0.3;
    transition: 0.3s;
}
  #form-button{
    background-color: #003ca6;
}
 
